@model List<Product>


<div class="card shadow border-0 mt-4" style="margin-bottom: 100px;">
	<div class="card-header bg-secondary bg-gradient ml-0 py-3">
		<div class="row">
			<div class="col-12 text-center">
				<h2 class="text-white py-2">Sản phẩm</h2>
			</div>
		</div>
	</div>
	<div class="card-body p-4 mb-2">
		<div class="row pb-3">
			<div class="col-6 text-end">
				<a asp-controller="Product" asp-action="Upsert" class="btn btn-primary"><i class="bi bi-plus-square"></i>Tạo sản phẩm mới</a>
			</div>
		</div>
		<table id="tblData" class="table table-bordered table-striped mb-2" style="width:100%;">
			<thead>
				<tr>
					<th>Tên sản phẩm</th>
					<th>Mã sản phẩm</th>
					<th>Giá</th>
					<th>Hãng sản xuất</th>
					<th>Danh mục</th>
					<th></th>
				</tr>
			</thead>
			
		</table>
	</div>
</div>

@section Scripts{
	<script src="~/js/Product.js"></script>
}